main{
    display: flex;
    flex-direction: row;
}

main .midia{
    flex: 1;
    display: flex;
    flex-direction: column;
}

main .form{
    flex: 3;
}

.return button{
    display: flex;
    justify-content: center;
    margin-top: 14em;
    margin-left: 12em;
}

.midia{
    background-image: url("/../assets/contacts/left-wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.form{
    background-image: url("/../assets/contacts/upper-right-wave.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.box-midia{
    width: 10em;
    height: 14em;
    background-color: #FFFF;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 8em 5em 0 5em;
    text-align: center;
    align-items: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.box-midia img{
    width: 4em;
    height: 4em;
    padding: 0.5em;
}

.box-form{
    width: 80%;
    height: 30em;
    background-color: #FFFF;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 3em 0em;
    text-align: center;
    padding: 2em;
}

.box-form p{
    text-align: left;
    margin: 1em 5em;
}

.btn-submit{
    display: flex;
    justify-content: end;
}

.btn-submit input{
    width: 10em;
    height: 2.5em;
    background-color: #239987;
    color: #FFFF;
}

input{
    width: 50%;
    height: 2em;
    border-radius: 0.5em;
    border: 0.1em solid #BCBEC0;
}

.box-form .message{
    width: 100%;
    height: 5rem;
}