<main>
    <div class="midia">
        <div class="box-midia">
            <p>Siga nossas redes sociais!</p>
            <img src="assets/contacts/Facebook.png" alt="">
            <img src="assets/contacts/Instagram.png" alt="">
        </div>
        <button (click)="voltar()">
            <img src="assets/contacts/btn-return.png" alt="">
        </button>
    </div>
    <div class="form">
        <div class="box-form">
            <h1>Quer entrar em contato conosco?</h1>
            <form action="">
                <p>Nome<br><input type="text" name="nome" id=""></p>
                <p>Email<br><input type="text" name="email" id=""></p>
                <p>Assunto<br><input type="text" name="assunto" id=""></p>
                <p>Sua mensagem<br><input type="text" name="mensagem" id=""></p>
                <div class="btn-submit">
                    <p><input type="submit" value="Enviar"></p>
                </div>
            </form>
        </div>
    </div>
</main>