<main>
    <section class="midia">
        <div class="box-midia">
            <p>Siga nossas redes sociais!</p>
            <img src="assets/contacts/Facebook.png" alt="">
            <img src="assets/contacts/Instagram.png" alt="">
        </div>
        <div class="return">
            <button class="btn-return" (click)="voltar()">
                Voltar
            </button>
        </div>
    </section>
    <section class="form">
        <div class="box-form">
            <h1>Quer entrar em contato conosco?</h1>
            <form action="">
                <label>Nome<br><input type="text" name="nome" id=""></label>
                <label>Email<br><input type="text" name="email" id=""></label>
                <label>Assunto<br><input type="text" name="assunto" id=""></label>
                <label>Sua mensagem<br><input type="text" class="message" name="mensagem" id=""></label>
                <div class="btn-submit">
                    <label><input type="submit" value="Enviar"></label>
                </div>
            </form>
        </div>
    </section>
</main>