main{
    display: flex;
    flex-direction: row;
}

main .origin{
    flex:1;
    margin: 5em 5em;
}

main .origin p{
    margin-top: 5%;
    width: 80%;
}

/* Images Column right */ 
main .images{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .images img{
    width: 12em;
    height: 12em;   
}