<main>
    <section class="origin">
        <h1>Origem do Blue Lotus</h1>
        <article>
            <p>A ideia dessa plataforma surgiu como um projeto para TG (Trabalho de Graduação) de duas alunas:</p>
            <p class="names"> <b>Beatriz Vitoria Matos da Silva</b><br>
               <b> Sthefany Souza da Silva</b></p>
            <p>Realizado para formação no curso de Análise e Desenvolvimento de Sistemas na Fatec Dom Amaury Castanho - ITU.</p>
            <p>Um trabalho desafiador, mas que despertou interesse, motivou a pesquisar e trouxe pouco a pouco a sensação de realização pessoal e profissional.</p>
        </article>
        <div class="return">
            <button class="btn-return" (click)="voltar()">
              Voltar
            </button>
        </div>
    </section>
    <div class="images">
        <img src="assets/about/img-institution.svg" alt="">
        <img src="assets/about/img-student1.svg" alt="">
        <img src="assets/about/img-student2.svg" alt="">
    </div>
</main>