/* Estilização da tag main, flexbox e background da lateral esquerda  */
.main{
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-image: url('/../assets/login/wave-top-left.svg');
    z-index: -1;
}

/* Estilização do background da lateral direita */
.wave-background{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
}

/* Estilização da coluna esquerda com a imagem e botão retornar */
.column-image{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.image{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}

.column-image .image img{
    width: 30em;
    height: 20em;
    margin-top: 2rem;
}

/* Estilização completa da box-model do form (flexbox, tamanho e bordas) */ 
.box-model{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFF;

    height: 25em;
    margin: 10em 10em 0 0;
    padding: 2rem;

    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2); 
    border-radius: 1rem;
}

/* Estilização dos campos de texto do form */ 
.text-field{
    margin-top: 2rem;
    font-size: small;
}

.errorMessage{
    color: red;
    font-size: 0.75rem;
}

/* Estilização dos campos de input (tamanho, margem e bordas)*/
.text-field input{
    width: 30rem;
    height: 2rem;
    margin: 0.5rem 0;
    border-radius: 0.5em;
    border: 0.1em solid #BCBEC0;
}

/* Adiciona margem a esquerda dentro dos campos de texto do form*/ 
input{
    padding-left: 1rem; 
}


/* Estilização do botão Entrar*/ 
.btn-green{
    background-color: #239987;
    color: #FFFF;
    font-size: large;
    width: 10rem;
    height: 40px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.btn-green:hover{
    cursor: pointer;
}

/* Estilo das letras */ 

h2{
    text-transform: initial;
}

.text{
    margin-top: 1em;
    font-size: small;
}

a{
    font-size: smaller;
    color: #1976D2;
}

/* Estilo do ponteiro */ 
.back{
    cursor: pointer;
}

button:disabled{
    background-color: #80cab6;
}

@media (min-width: 1920px) {

    .column-image .image img{
        width: 50em;
        height: 40em;
        margin-top: 2rem;
        margin-left: -8rem
    }

    .box-model{
        margin-top: 15rem;
        height: 40rem;
    }

    h2{
        font-size: 3rem;
    }

    label{
        font-size: 1.8rem;
    }

    .text-field input{
        height: 4rem;
        width: 45rem;
        font-size: 2rem;
    }

   .text-field span{
        font-size: 1.2rem;
    }

    .btn-green{
        width: 20rem;
        height: 6rem;
        font-size: 2rem;
        margin: 3rem 0 2rem 0;
    }

    a{
        font-size: 1.5rem;
    }

}