<main class="main">
    <div class="column-image">
        <div class="image">
            <img src="/assets/recover-password/forgot-password-amico.svg" alt="">
        </div>
    </div>
    <div class="box-model">
        <img class="wave-background" src="assets/login/right-wave.png" alt="">
        <h2>
            Redefinir a senha
        </h2>
        <form action="" method="post" [formGroup]="passwordForm">
            <div class="row">
                <div class="col col-6" class='text-field'>
                    <p>
                        <label for="password">Senha</label>
                        <br>
                        <input type="password" formControlName="password1" class='text-field' name="password" id="password">
                    </p>
                    <span class="errorMessage" *ngIf="passwordForm.get('password1')?.errors?.['required'] && passwordForm.get('password1')?.touched">
                        A senha é obrigatória.
                    </span>
                    <span class="errorMessage" *ngIf="passwordForm.get('password1')?.errors?.['minlength'] && passwordForm.get('password1')?.touched">
                        Senha muito curta.
                    </span>
            
                </div>
            <div class="col col-6 text-field">
            <p>
                <label for="passwordRepeat">Confirmar senha</label>
                <br>
                <input type="password" formControlName="password2" name="passwordRepeat" id="passwordRepeat">
            </p>
            <span class="errorMessage" *ngIf="passwordMatchError">
                As senhas não coincidem.
            </span>
                </div>
            </div>
            
            </form>

            
        <app-modal 
        [title]="title" 
        [message]="message" 
        [imageUrl]="imageUrl"
        [show]="showModal">
        </app-modal>

        <button class="btn-green" [disabled]="passwordForm.invalid" (click)="onSubmit()">
            Enviar
        </button>

        <div class="back">
         <a routerLink="/login">Voltar para o login</a>
        </div>
    </div>
</main>
