<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue Lotus</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <ul>
                    <li><a routerLink="">Início</a></li>
                    <li><a routerLink="/about">Sobre</a></li>
                    <li><a routerLink="/contacts">Contatos</a></li>
                    <li><a routerLink="/register"><button>Entrar</button></a></li>
                </ul>
            </a>
        </nav>
    </header>
    
    

</body>
</html>