/* Header */

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 30%;
    background-image: url('/../assets/home/wave-top-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    z-index: -1;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 65%; /* Ajuste a largura conforme necessário */
    height: 100%; /* Ajuste a altura conforme necessário */
    background-image: url('/../assets/home/wave-top-right.svg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    z-index: -1; /* Posiciona atrás do conteúdo principal */
  }

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 30px;
    gap: 50px;
    color: #FFF;
}

header nav ul a:hover{
    text-decoration: underline;
}

header nav ul .blue-button{
    background-color: #2B5FB5;
    color: #FFF;
    width: 8em;
    padding: 0.4em;
    border: none;
    border-radius: 2em;
}

header nav ul .blue-button:hover{
    background-color: #FFFF;
    color: #2B5FB5;
    font-weight: bold;
    cursor: pointer;
}

/* Main */ 
.presentation{
    display: flex;
    flex-direction: row;
    margin-top: 8rem;
}

/* Main Left Column */ 
.presentation .left-column{
    flex:1;
    margin: 0 1rem 1rem 5rem;
}

.presentation-description{
    width: 25%;
    margin: 5% 0%;
    color: #242424;
}

.green-button{
    text-transform: uppercase;
    font-size: 1.2em;
    color: #126B5E;
    background-color: transparent;
    border-radius: 2em;
    border-color:#126B5E;
    padding: 0.5em;
    width: 25%;
    height: 15%;
}

.green-button:hover{
    background-color: #126B5E;
    color: white;
}

/* Chatbot */ 
.chatbot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.chatbot img{
    width: 30%;
    height: 30%;
}

.chatbot-presentation{
    width: 50%;
    text-align: center;
}

/* Features */ 
.text-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.container-features{
    display: flex;
    flex-direction: row;
}

.container-features img{
    width: 60%;
    height: 60%;
}

.container-features .description-features{
    text-align: center;
    width: 70%;
}

/* Features - Columns*/ 
.container-features .features-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.container-features .features-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.container-features .features-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

/* Compatibility */ 

.compatibility{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.compatibility p{
    text-align: center;
    width: 30%;
}

/* Footer */ 
.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFF;

    height: 300px;
    background-image: url('/../assets/home/bottom-wave.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.rights{
    font-size: 10px;
    margin-left: 40px;
}

.options-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%;
}

.midias-footer img{
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 0 25px;
}

