<header class="header">
    <nav>
            <ul>
                <li><a routerLink="">Início</a></li>
                <li><a routerLink="/about">Sobre</a></li>
                <li><a routerLink="/contacts">Contatos</a></li>
                <li><a routerLink="/login"><button class="blue-button" >Entrar</button></a></li>
            </ul>
    </nav>
</header>
<main class="presentation">
    <div class="left-column">
        <div class="title-h1">
        <h1>Sua nova assistente virtual para gerenciar a ansiedade</h1>
        </div>
        <p class="presentation-description">
            Projetado para oferecer suporte emocional, gerenciar estresse e sugerir técnicas de relaxamento, o Blue Lotus está disponível você a lidar com a ansiedade de forma mais leve e eficaz!
        </p>
        <button class="green-button" routerLink="/register">Conecte-se agora</button>
    </div>
</main>
<section class="chatbot">
    <h1>Nosso chatbot será seu novo aliado no cuidado com a saúde mental</h1>
    <img src="assets/home/hi-bot.png" alt="">
    <p class="chatbot-presentation">Projetado para oferecer conversas empáticas e suporte emocional. Combinando tecnologia com um toque humano, venha ter essa experiência única de acolhimento e compreensão. Oferecemos a você um espaço seguro para se expressar e encontrar o apoio que precisa.</p>
</section>
<section class="features">
    <div class="text-features">
        <h1>Funcionalidades</h1><br>
        <h2>Diferentes formas de ajudar você</h2>
    </div>
    <div class="container-features">
        <div class="features-left">
            <img src="assets/home/img-management.png" alt="">
            <h3>Gestão do estresse e ansiedade</h3><br>
            <p class="description-features"> Encontre estratégias eficazes para lidar com momentos de crise, mantendo a calma e o equilíbrio no seu dia a dia através de técnicas e orientações para aliviar o estresse e a ansiedade</p>
        </div>
        <div class="features-middle">
            <img src="assets/home/img-techniques.png" alt="">
            <h3>Técnicas de enfrentamento</h3><br>
            <p class="description-features">Aprenda e pratique métodos comprovados de enfrentamento e relaxamento.  Por meio exercícios de respiração, meditação e outras técnicas que promovem o bem-estar mental.</p>
        </div>
        <div class="features-right">
            <img src="assets/home/img-support.png" alt="">
            <h3>Auxílio na busca por apoio profissional</h3><br>
            <p class="description-features">Nossa assistente virtual facilita o acesso a profissionais de saúde mental qualificados. Receba recomendações e orientação para encontrar suporte especializado.</p>
        </div>
    </div>
</section>
<section class="compatibility">
    <h1>Compatibilidade</h1>
    <h2>Você merece cuidado a qualquer momento e em qualquer lugar </h2>
    <img src="assets/home/img-compatibility.png" alt="">
    <p>O Blue Lotus é acessível em todos os dispositivos, garantindo que esteja sempre disponível quando você precisar.</p>
</section>
<footer class="container-footer">
    <p class="rights">©2024 Todos os direitos reservados</p>
    <div class="options-footer">
        <p>Termos</p>
        <p>Privacidade</p>
        <p>Cookies</p>
    </div>
    <div class="midias-footer">
    <img src="assets/home/icon-instagram.png" alt="">
    <img src="assets/home/icon-facebook.png" alt="">
    </div>
</footer>