<form action="" method="post" [formGroup]="passwordForm">
<div class="row">
    <div class="col col-6">
        <p>
            <label for="password">Senha</label>
            <br>
            <input type="password" formControlName="password1" name="password" id="password">
        </p>
        <span class="errorMessage" *ngIf="passwordForm.get('password1')?.errors?.['required'] && passwordForm.get('password1')?.touched">
            A senha é obrigatória.
        </span>
        <span class="errorMessage" *ngIf="passwordForm.get('password1')?.errors?.['minlength'] && passwordForm.get('password1')?.touched">
            Senha muito curta.
        </span>

    </div>
<div class="col col-6">
<p>
    <label for="passwordRepeat">Confirmar senha</label>
    <br>
    <input type="password" formControlName="password2" name="passwordRepeat" id="passwordRepeat">
</p>
<span class="errorMessage" *ngIf="passwordMatchError">
    As senhas não coincidem.
</span>
    </div>
</div>

</form>