<main class="main">
    <div class="column-image">
        <div class="image">
            <img src="/assets/recover-password/forgot-password-amico.svg" alt="">
        </div>
    </div>
    <div class="box-model">
        <img class="wave-background" src="assets/login/right-wave.png" alt="">
        <h2>
            Redefinir a senha
        </h2>
        <p class="text">
            Informe o e-mail cadastrado para enviarmos um link para recuperação da sua senha
        </p>
        <div class="text-field" [formGroup]="userForm">
            <p>Email<br><input type="email" formControlName="email" name="email" id="" required></p>
        </div>
        <button class="btn-green" (click)="recuperar()">
            Enviar
        </button>
        <app-modal 
        [title]="title" 
        [message]="message" 
        [imageUrl]="imageUrl"
        [show]="showModal">
        </app-modal>
        <div class="back">
         <a routerLink="/login">Voltar para o login</a>
        </div>
    </div>
</main>

