<div class="container">
  <div class="navigation">
      <div class="side-bar">
          <div class="return">
          </div>
          <div class="logo">
              <img src="../assets/chatbot/logo.svg" alt="">
          </div>
          <div class="buttons">
              <button (click)="chatbot()">
                  Chatbot
              </button>
              <div class="box-model-profile">
                  <div class="logo-profile">
                      <img src="../assets/chatbot/icon-logo.svg" alt="">
                  </div>
                  <div class="info-profile">
                      <h3>{{user.name}} {{user.surname}}</h3>
                      <p>{{user.email}}</p>
                      <button (click)="logout()"><img src="../assets/chatbot/exit-button.svg" alt="">
                          Logout </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="content"> 
    <h1>REGISTROS</h1> 

<div class="row">
  <div class="col-12">  
    
    <div *ngIf="chartAvailable; else noData"  class="chart-container box-model box-shadow">
    <h4>Seu humor durante a semana</h4>
    <canvas id="canvas"></canvas>

    </div>
    <ng-template #noData>
        
        <div class="no-data-container chart-container box-model">
          <img src="assets/feelings/noData.svg" alt="Sem dados disponíveis" class="no-data-image" />
          <p>{{ errorMessage }}</p>
        </div>
      </ng-template>
  </div>
</div>

<div class="row">  
    <div class="col-3">
    <div class="box-model">
      <div class="today-feeling-container box-shadow" *ngIf="todayFeeling" >
          <h4>Seu humor hoje</h4>
          <div>
            <img [src]="todayFeeling.image" alt="Imagem do humor de hoje" class="today-feeling-image" />
            <p>Você informou estar se sentindo: <strong>{{ todayFeeling.feeling }}</strong></p>
            <p>{{ todayFeeling.message }}</p>
          </div>
  </div>
  </div></div>
  <div class="col-8">
      <div class="box-model">
        <div *ngIf="chartAvailable"  class="chart-container box-model box-shadow">
            <h4>Seu humor durante o mês</h4>
            <canvas id="lineChart"></canvas>
        
            </div>
      </div>
    </div></div>
</div>