<div class="container">
    <div class="navigation">
        <div class="side-bar">
            <div class="buttons">
                <button>
                    Nova conversa
                </button>
                <button>
                    Registros
                </button>
                <button class="btn-alert">    
                    Estou em crise
                </button>
                <button class="btn-return">
                    <img src="assets/chatbot/return-button.png" alt="">
                </button>
            </div>
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-body" id="chat-body">
            <div class="text-box bot-message">
                <div class="message">
                Olá! Como posso ajudar você hoje?
                </div>
                <div class="decor bot"></div>
            </div>
        </div>
        <div class="chat-footer">
            <input type="text" id="user-input" placeholder="Digite sua mensagem...">
            <button class="send-button" (click)="sendMessage()"><img src="/../assets/chatbot/send-button.png" alt=""></button>
        </div>
    </div>
</div>
