<div class="container">
    <div class="navigation">
        <div class="side-bar">
            <div class="buttons">
                <button>
                    Nova conversa
                </button>
                <button>
                    Registros
                </button>
                <button>    
                    Estou em crise
                </button>
            </div>
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-body" id="chat-body">
            <div class="text-box bot-message">
                <div class="decor bot"></div>
                <div class="message">
                Olá! Como posso ajudar você hoje?
                </div>
            </div>
            <div class="text-box user-message">
                <div class="message">
                    Quero saber mais sobre seu serviço.
                </div>
                <div class="decor user"></div>
            </div>
        </div>
        <div class="chat-footer">
            <input type="text" id="user-input" placeholder="Digite sua mensagem...">
            <button onclick="sendMessage()">Enviar</button>
        </div>
    </div>
</div>
